@import url(normalize.css);
@import url(system/color.css);
@import url(system/spacing.css);
@import url(system/typography.css);
@import url(system/border-radius.css);
@import url(system/shadow.css);
@import url(system/component.css);

.icon {
	color: currentColor;
	flex: none;
}

*:has(.icon) {
	flex: none;
}

.hidden {
	display: none;
}

.container {
	width: 100%;
	padding: var(--space7) var(--space5);
}

section {
	margin-bottom: var(--space9);
}
